/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-apr-2016, 20.50.16
    Author     : Paola
*/
/*definisco caratteristiche body*/
body{
    font-family: 'Palatino Linotype', 'Palatino', 'URW Palladio L';
    font-size: 20px;
    color:#000000;
    text-align: justify;
    margin-left:10px;
    margin-right:10px;
    margin-top:-50px;
}
/*definisco caratteristiche h1,h2,h3*/
h1{
    color:#000000;
    text-align:center;
    font-size: 60px;
    padding-top:30px;
}
h2,h3{
    color: #000000;
    text-align: center;
    font-size: 30px;
}
/*definisco in che modo devono essere visualizzati i link*/
a:link{
    color:#000066; 
}

a:visite, a:active{
    color:#cccccc;
}
a:hover{
    color:#333333;
}

/*definisco le caratteristiche della tabella*/
table{
   background-color:#ffffff;
   border-style: solid;
   text-align:center;

}
/*definisco le caratteristiche per i dati presenti nelle righe della tabella'*/
#dati{
    font: "Times New Roman";
    font-size:20px;
    height:25px;
}
/*definisco le caratteristiche per i dati presenti nell'intestazione della tabella'*/
#intestazione{
    font: "arial";
    font-weight: bold;
    color:white;
    font-size: 30px;
    border-collapse:collapse;
    background-color: #333333;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    
}
/*coloro le righe della tabella con due colori diversi alternati. le classi pari e dispari indicano le righe pari e dispari della tabella*/
.pari{
    background-color:aliceblue;
    text-align:center;
}
.dispari{
    background-color:#ffffcc;
    text-align:center;
    
}
/*definisco gli elementi del form come righe di una tabella*/
label,input,p,select,textarea{
    display:table-row;

}
/*definisco visualizzazione elenco puntato*/
ul{
    list-style-type: square;
    float:left;
    
}
/*classe inserimento relativa ai form presenti nelle pagine login.html e venditore.html*/
.inserimento{
    display:table; /*utilizzo la visualizzazione tabella per allineare i campi*/
    font-weight:bold;
    font-size:30px;
    color:#000000;
    background-color:#ffffcc;
    padding-top:5%;
    padding-left:5%;
    
}
/*classe allinea relativa agli elementi div contenenti le coppie(input-label), le textarea e le select*/
/*definisco come righe di colonna per fare in modo che si trovino una sopra e una sotto (es:label sopra e input sotto)*/
.allinea{
    display:table-row;
}
#bottone{
    padding-left:30%;
}
/* Focus sui campi input e textarea */
input:focus, textarea:focus {
  border: 1px solid #FCA800; /*bordo degli elementi*/
  color: #333333;          
}

#header{
    background-image:url('./Immagini/gioielli.jpg');
   
}

footer{
     position:relative;
     background-image:url('./Immagini/gioielli.jpg');
 }
/*regola media per schermi oltre i 1024px*/
@media only screen and (min-width:1024px){
  
  #header{
        position:relative;
        height:130px;
    }
 /*posizionamento content*/
  #content{
        position:relative;
        margin-left:15%;
        margin-right:15%;
        margin-top:-40px; /*lo sposto in alto per renderlo più vicino all' header*/
        height:1000px;
        width:70%; /*larghezza del 70% per lasciare la larghezza rimanente alle sidebar*/
 }
 /*Posizionamento div1,2 e 3 presenti nella pagina descrizione.html*/
 #div2{
     padding-top:100px;
 }
 #div3,#div4{
     padding-top:100px;
 }
/*posizionamento sidebar*/
 #sidebar1{
     position:relative;
     width:15%;
 }
 #sidebar2{
     position:relative;
     width:15%;
 }
}
/*regola media per schermi oltre fino ai 480px*/
@media only screen and (min-width:0px) and (max-width:480px){
    
}
/*regola media per schermi dai 481px ai 1023 px*/
@media only screen and (min-width:481px) and (max-width:1023px){

}
